@import "../partials/fonts";
@import "../partials/variables";
@import "../partials/mixins";

.home {
  background-image: url(../assets/hero3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
