// Break-points

$tablet: 768px;
$tablet-pro: 1024px;
$desktop: 1280px;
$ultra: 1540px;

// Primary Colors

$gold: #e9b500;
$green: #0e4e2c;

$silver: #b9b795;
$brown: #6e6658;
$alice: #f0f8ff;
$black: #112d32;

// $alice: #112d32;
// $green: #b9b795;
// $black: #f0f8ff;
// $green: #f0f8ff;
// $silver: #4e9c81;
// $silver: #358873;
// $green: #207567;
// $alice: #594f4f;
